In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Cargar las bases de datos
alertas = pd.read_csv("Data/Alertas.csv", sep = ";", encoding = 'utf8')
chart = pd.read_csv("Data/chart.csv", sep = ";", encoding = 'utf8')
errores_de_conexion = pd.read_csv("Data/Errores de conexion.csv", sep = ";")
errores = pd.read_csv("Data/Errores.csv", sep = ";")
otros_errores = pd.read_csv("Data/Otros errores.csv", sep = ";", encoding = 'latin1')
sesiones = pd.read_csv("Data/Sesiones.csv", sep = ";")
potencia_maxima = pd.read_csv("Data/potencia-mxima-alcanzada.csv", sep = ";")

transacciones = pd.read_excel("Data/Transacciones.xlsx", sheet_name="Statistics Users")

In [22]:
alertas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               66 non-null     int64
 1   Toma             66 non-null     object
 2   RFID             66 non-null     object
 3   Descripción      66 non-null     object
 4   Código Error     66 non-null     object
 5   Tiempo KO (min)  0 non-null      float64
 6   Información      66 non-null     object
 7   Solución         66 non-null     object
 8   Autogestión      0 non-null      float64
 9   Revisado         0 non-null      float64
 10  Fecha            66 non-null     object
dtypes: float64(3), int64(1), object(7)
memory usage: 5.8+ KB

In [35]:
chart

  Category  Value
0   jul-24    305
1   ago-24    400
2   sep-24    671
3   oct-24    608
4   nov-24   1299
5   dic-24   1388
6   ene-25   1402
7   feb-25   1795
8   mar-25   1818
9   abr-25   1476

In [37]:
errores_de_conexion

,ID,RFID,Descripción,Código Error,Tiempo KO (min),Información,Solución,Autogestión,Revisado,Fecha
0,81501265,4210747D,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"12-03-2025, 01:21"
1,79991383,B46415CD,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"23-02-2025, 11:02"
2,77305423,11D843BE,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"04-02-2025, 09:02"
3,77304116,11D843BE,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"04-02-2025, 08:51"
4,77302757,9D45BEFB,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"04-02-2025, 08:37"
...,...,...,...,...,...,...,...,...,...,...
377,55452786,NaN,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"03-07-2024, 18:33"
378,55451388,NaN,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"03-07-2024, 18:19"
379,55449977,NaN,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"03-07-2024, 18:04"
380,55447995,NaN,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"03-07-2024, 17:03"
381,55446298,NaN,Charger without communication,Connection Error,0,El cargador no inició la conexión por websocket,Vuelva a comprobarlo en 15 minutos,NaN,NaN,"03-07-2024, 16:07"

In [43]:
sesiones.describe()

,ID,Minuto a minuto,Toma,USER ID,Duración(mins),Tiempo seleccionado(mins),Energía(kWh),Energía seleccionada(kWh),costo,Total(€)
count,9.310000e+02,9.310000e+02,931.000000,9.310000e+02,931.000000,395.000000,931.000000,447.000000,0.0,931.000000
mean,4.554114e+06,4.554114e+06,1.485499,1.109396e+06,151.190118,180.202532,11.995693,33.445190,NaN,13683.951139
std,2.659790e+05,2.659790e+05,0.500058,9.022209e+04,212.362348,76.616816,10.302121,20.153247,NaN,13399.184306
min,3.744061e+06,3.744061e+06,1.000000,4.184100e+04,0.000000,5.000000,0.000000,5.000000,NaN,0.000000
25%,4.352895e+06,4.352895e+06,1.000000,1.128224e+06,41.000000,120.000000,2.840000,20.000000,NaN,143.650000
50%,4.609400e+06,4.609400e+06,1.000000,1.134737e+06,135.000000,240.000000,10.090000,40.000000,NaN,10247.900000
75%,4.754674e+06,4.754674e+06,2.000000,1.144127e+06,240.000000,240.000000,20.020000,40.000000,NaN,24832.600000
max,4.971580e+06,4.971580e+06,2.000000,1.298974e+06,3951.000000,240.000000,55.930000,100.000000,NaN,72707.700000

In [ ]:
tr